@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --font-montserrat: 'Montserrat', sans-serif;
}


.split-selector {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.bg.left,
.bg.right {
  position: absolute;
  inset: 0;
  display: flex;
  text-decoration: none;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.bg.left {
  background: url("../media/skin-care-poly-compressed.jpg") right 20% / cover no-repeat;
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 60px 40px; 
}

.bg.right {
  background: url("../media/hair-care-compressed.webp") 90% 65% / cover no-repeat  !important;
  clip-path: polygon(100% 0, 0 0, 100% 100%);
  justify-content: flex-end; 
  align-items: flex-start; 
  padding: 10px 40px 40px; 
}


.bg.left:hover,
.bg.right:hover {
  transform: scale(1.02);
  filter: brightness(0.9);
}


.label {
  color: #EDEDED;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0; 
}


/* carousel scrollbar styling */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7FA0AC #f9f1f1; /* thumb color, track color */
}


.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f5f9;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #7FA0AC;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #5c7a8a;
}

@media (max-width: 768px) {
  .split-selector {
    height: 600px;
  }

  .bg.left {
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    background-position: center center;
  }

  .bg.right {
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    background-position: center center;
  }

  .bg.left .label.skin {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg.right .label.hair {
    position: absolute;
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
}